.navbar {
  padding: 0.8rem 0;
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px);
  
  .logo { height: 70px; }
  
  .nav-link {
    color: #333 !important;
    font-weight: 600;
    &:hover { color: #8C52FF !important; }
  }
  
  .btn-primary {
    background-color: #8C52FF !important; // Roxo SASI no CTA
    border-color: #8C52FF !important;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(140, 82, 255, 0.3);
    
    &:hover {
      background-color: #7433f6 !important;
      transform: scale(1.05);
    }
  } 
}